USE [master]
GO
/****** Object:  Database [ogrDB2025]    Script Date: 7.10.2026 22:19:12 ******/
CREATE DATABASE [ogrDB2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ogrDB2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ogrDB2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ogrDB2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ogrDB2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ogrDB2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ogrDB2025]
GO
/****** Object:  Table [dbo].[acilandersler]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acilandersler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BolumId] [int] NOT NULL,
	[DonemId] [int] NOT NULL,
	[DersId] [int] NOT NULL,
	[HocaId] [int] NOT NULL,
 CONSTRAINT [PK_acilandersler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bolumler]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bolumler](
	[Id] [int] NOT NULL,
	[FakulteId] [int] NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_bolumler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dersler]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dersler](
	[Id] [int] NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Kredi] [tinyint] NOT NULL,
	[Kod] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dersler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donemler]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donemler](
	[Id] [int] NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_donemler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fakulteler]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fakulteler](
	[Id] [int] NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_fakulteler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hocalar]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hocalar](
	[Id] [int] NOT NULL,
	[TcNo] [nvarchar](11) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_hocalar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ogrenci_acilanders]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenci_acilanders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrId] [int] NOT NULL,
	[AcilanDersId] [int] NOT NULL,
 CONSTRAINT [PK_ogrenci_acilanders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ogrenciler]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenciler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrNo] [nvarchar](11) NOT NULL,
	[TcNo] [nvarchar](11) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[BolumId] [int] NOT NULL,
 CONSTRAINT [PK_ogrenciler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ogrenciler] UNIQUE NONCLUSTERED 
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ogrenciler_1] UNIQUE NONCLUSTERED 
(
	[OgrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vize_notlari]    Script Date: 7.10.2026 22:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vize_notlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciAcilanDersId] [int] NOT NULL,
	[Note] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_vize_notlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acilandersler]  WITH CHECK ADD  CONSTRAINT [FK_acilandersler_bolumler] FOREIGN KEY([BolumId])
REFERENCES [dbo].[bolumler] ([Id])
GO
ALTER TABLE [dbo].[acilandersler] CHECK CONSTRAINT [FK_acilandersler_bolumler]
GO
ALTER TABLE [dbo].[acilandersler]  WITH CHECK ADD  CONSTRAINT [FK_acilandersler_dersler] FOREIGN KEY([DersId])
REFERENCES [dbo].[dersler] ([Id])
GO
ALTER TABLE [dbo].[acilandersler] CHECK CONSTRAINT [FK_acilandersler_dersler]
GO
ALTER TABLE [dbo].[acilandersler]  WITH CHECK ADD  CONSTRAINT [FK_acilandersler_donemler] FOREIGN KEY([DonemId])
REFERENCES [dbo].[donemler] ([Id])
GO
ALTER TABLE [dbo].[acilandersler] CHECK CONSTRAINT [FK_acilandersler_donemler]
GO
ALTER TABLE [dbo].[acilandersler]  WITH CHECK ADD  CONSTRAINT [FK_acilandersler_hocalar] FOREIGN KEY([HocaId])
REFERENCES [dbo].[hocalar] ([Id])
GO
ALTER TABLE [dbo].[acilandersler] CHECK CONSTRAINT [FK_acilandersler_hocalar]
GO
ALTER TABLE [dbo].[bolumler]  WITH CHECK ADD  CONSTRAINT [FK_bolumler_fakulteler] FOREIGN KEY([FakulteId])
REFERENCES [dbo].[fakulteler] ([Id])
GO
ALTER TABLE [dbo].[bolumler] CHECK CONSTRAINT [FK_bolumler_fakulteler]
GO
ALTER TABLE [dbo].[ogrenci_acilanders]  WITH CHECK ADD  CONSTRAINT [FK_ogrenci_acilanders_acilandersler] FOREIGN KEY([AcilanDersId])
REFERENCES [dbo].[acilandersler] ([Id])
GO
ALTER TABLE [dbo].[ogrenci_acilanders] CHECK CONSTRAINT [FK_ogrenci_acilanders_acilandersler]
GO
ALTER TABLE [dbo].[ogrenci_acilanders]  WITH CHECK ADD  CONSTRAINT [FK_ogrenci_acilanders_ogrenciler] FOREIGN KEY([OgrId])
REFERENCES [dbo].[ogrenciler] ([Id])
GO
ALTER TABLE [dbo].[ogrenci_acilanders] CHECK CONSTRAINT [FK_ogrenci_acilanders_ogrenciler]
GO
ALTER TABLE [dbo].[ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_ogrenciler_bolumler] FOREIGN KEY([BolumId])
REFERENCES [dbo].[bolumler] ([Id])
GO
ALTER TABLE [dbo].[ogrenciler] CHECK CONSTRAINT [FK_ogrenciler_bolumler]
GO
ALTER TABLE [dbo].[vize_notlari]  WITH CHECK ADD  CONSTRAINT [FK_vize_notlari_ogrenci_acilanders] FOREIGN KEY([OgrenciAcilanDersId])
REFERENCES [dbo].[ogrenci_acilanders] ([Id])
GO
ALTER TABLE [dbo].[vize_notlari] CHECK CONSTRAINT [FK_vize_notlari_ogrenci_acilanders]
GO
USE [master]
GO
